.statisticsTabsPanel {
   margin: 0;
   padding: 0;

   &__header {
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
         @include font-XL;
         color: $text_secondary;
      }

      .statisticsTabsPanel__nav {
         display: flex;
         height: 40px;
         margin: 0 15px;
         align-items: center;
         background-color: $white_medium;
         border-radius: 40px;
         border: 1px solid #fdfdfe;
         box-shadow: 0 0 0 4px #fdfdfe, 0 0 0 5px #fdfdfe, inset 0 0 10px rgba(0, 0, 0, 0.1);

         .nav__item {
            @include font-S;
            display: flex;
            align-items: center;
            height: 100%;
            box-sizing: border-box;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 20px;
            cursor: pointer;
            transition: linear 0.2s ease-in-out;
            color: $text_disabled;

            &--active {
               border-radius: 40px;
               box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
               background-color: #3d5bf1dc;
               color: $white;
               cursor: default;
            }
         }
      }
   }

   .statisticsTabsPanel__tab {
      width: 100%;
   }
}
