.FormResetPassword {
   margin: 20px 0;
   width: 100%;

   .FormResetPassword__input {
      margin-bottom: 20px;
   }

   .FormResetPassword__button {
      display: flex;
      justify-content: flex-end;
   }

   .FormResetPassword__notification {
      display: block;
      font-weight: bold;
      text-align: center;
      @include font-S;

      &--success {
         color: $jungle_green;
      }

      &--error {
         color: $neon_red;
      }
   }
}
