.teamTabsNav {
   display: flex;
   height: 56px;
   padding: 0 15px;
   background-color: #dbd8dd83;
   width: 100%;
   margin: 0;

   .teamTabsNav__item {
      @include font-S;
      display: flex;
      align-items: center;
      text-align: center;
      color: $text-secondary;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      padding: 0 15px;
      cursor: pointer;

      &--active {
         color: $text_purple;
         background-color: $bg_white;
      }
   }

   @media (max-width: 767px) {
      padding: 0;

      .teamTabsNav__item {
         padding: 0 10px;
      }
   }
}
