.leagueManageTab {
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 15px 15px 40px;
   width: 90%;

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px;
      margin-bottom: 10px;

      h1 {
         color: $text_secondary;
         @include font-XL;
      }
   }

   &__form {
      margin: auto;
   }

   &__stadiumTable {
      margin-bottom: 25px;
   }
}
