.createPlayer {
   display: flex;
   flex-direction: column;
   align-items: center;

   &__header {
      height: 56px;
      color: $text_secondary;
      @include font-S;
      margin-bottom: 10px;
   }

   &__form {
      width: 500px;

      .form__input {
         margin-bottom: 20px;
      }

      .form__button {
         display: flex;
         justify-content: flex-end;
      }

      .form__errors {
         margin: 20px 0 40px;
         display: block;
         color: $neon_red;
         font-weight: bold;
         text-align: center;
         @include font-S;
      }
   }
}
