.teamRepresentativeDashboard {
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 15px 30px;
   width: 90%;

   &__header {
      height: 56px;
      width: 100%;
      color: $text_secondary;
      @include font-M;
      margin-bottom: 10px;
   }

   &__filters {
      display: flex;
      margin-bottom: 30px;

      .inputFilter {
         width: 300px;
      }
   }

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 25px;
      align-items: stretch;
   }

   &__emptyState {
      color: $text_secondary;
      @include font-M;
      font-weight: bold;
   }
}
