$bg_purple: #252954;
$bg_dark: #0e0e23;
$bg_white: #fdfdfe;

$text_primary: #040718;
$text_secondary: #757575;
$text_disabled: #c5c3e8;
$text_purple: #774cc3;

$white: #ffffff;
$seashell_white: #f1f1f1;
$white_medium: #f2f0f3;
$wild_sand_white: #f4f4f4;
$alto_white: #d6d6d6;
$alabaster_white: #f8f8f8;

// SIDEBAR COLOR'S
$royal_blue: #3d5af1;
$cerulean_blue: #3651d4;

$waikawa_gray: #576d94;
$radical_red: #ff2b59;
$neon_red: #ff073a;
$razzmatazz_red: #f50057;
$purple_heart: #5942c9;
$mariner_blue: #2967da;
$san_marino_blue: #3f51b5;
$bayoux_blue: #4c5f7a;
$pickled_bluewood: #35445f;

$emerald_green: #40c456;
$jungle_green: #26a380;

$shadow: rgba(0, 0, 0, 0.05);
