.Breadcrumbs {
   position: relative;
   height: min-content;

   &__link {
      @include font-XS;
      font-weight: bold;
      text-decoration: none;
      color: $text_secondary;
   }

   &__separator {
      color: $text_secondary;
      margin: 2px -5px 0;
   }

   .MuiBreadcrumbs-ol {
      .MuiBreadcrumbs-li:last-child {
         .Breadcrumbs__link {
            color: $text_purple;
         }
      }
   }
}
